%article.postArticle

  .notesPositionContainer

  %section.postWrapper
    .postWrapper-inner

      .postContent
        .postContent-inner

          .notesSource
            .postField

              %section
                .section-divider
                .section-content

            .inlineTooltip2

  %footer

.highlightMenu