@charset "utf-8";

@import "scaffold";
@import "tooltips";

$color-brand: #1abf89;
$gutter: 30px;

#header {
  display: block;
  z-index: 500;
  width: 100%;
  font-size: 14px;
  color: rgba(0,0,0,0.3);
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  -webkit-transition: 200ms background-color,200ms color;
  transition: 200ms background-color,200ms color;
  position: fixed;
  top: 0;
  height: 65px;
  background: rgba(255,255,255,0.97);
  box-shadow: 0 0 1px rgba(0,0,0,0.15);
}

article {
  margin-top: 140px;
}

.logo {
  & {
    display: inline-block;
  }
  img {
    margin: 22px 14px 22px 20px;
  }
  span {
    vertical-align: top;
    border-left: 1px solid rgba(0,0,0,0.15);
    padding: 5px 14px;
    margin: 20px 0;
    display: inline-block;
  }
}

.github {
  & {
    float: right;
    font-size: 32px;
    color: $color-brand;
    line-height: 0;
    margin-top: 19px;
    margin-right: 24px;
  }
  i {
    position: relative;
    top: -2px;
  }
}
