@font-face {
  font-family: 'dante';
  src: font-url('fontello.eot?370dad08');
  src: font-url('fontello.eot?370dad08#iefix') format('embedded-opentype'),
  font-url('fontello.woff?370dad08') format('woff'),
  font-url('fontello.ttf?370dad08') format('truetype'),
  font-url('fontello.svg?370dad08#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic|Open+Sans:400,300,800);

.notesSource {
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 1.79;
}
