.dante-menu [class^="icon-"]:before, .dante-menu [class*=" icon-"]:before {
  display: inline-block;
  font-family: "dante";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  width: 1em;
}

.dante-icon:first-of-type {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.dante-icon{
  font:normal 900 16px/40px Georgia serif;
  min-width:20px;display:inline-block;
  padding:0 10px;
  height:36px;
  overflow:hidden;color:#fff;
  text-align:center;
  cursor:pointer;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;user-select:none;
}
.dante-icon:first-of-type{
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}
.dante-icon:last-of-type{
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
}
.dante-icon:hover{
  background:#000;
}
.dante-icon.active{
  color:#1abf89;background:#000;
  box-shadow:inset 2px 2px 4px #000;
}
.pen-input{position:absolute;
  width:100%;left:0;
  top:0;height:36px;
  line-height:20px;
  background:#333;
  color:#fff;
  border:none;
  text-align:center;
  display:none;
  font-family:arial, sans-serif;
}
.pen-input:focus{
  outline:none;
}

.dante-menu [class^="icon-"], .dante-menu [class*=" icon-"] {
  background: none repeat scroll 0 0 transparent;
}

.dante-icon {
  -moz-user-select: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: 900 16px/40px Georgia serif;
  height: 36px;
  min-width: 20px;
  overflow: hidden;
  padding: 0 10px;
  text-align: center;

  &.icon-h2:before {
  content: "H2";
  }
  &.icon-h3:before {
  content: "H3";
  }
  &.icon-p:before {
  content: "P";
  }
  &.icon-code:before {
  content: "";
  }
  &.icon-insertorderedlist:before {
  content: "";
  }
  &.icon-insertunorderedlist:before {
  content: "";
  }
  &.icon-inserthorizontalrule:before {
  content: "";
  }
  &.icon-indent:before {
  content: "";
  }
  &.icon-outdent:before {
  content: "";
  }
  &.icon-bold:before {
  content: "";
  }
  &.icon-italic:before {
  content: "";
  }
  &.icon-underline:before {
  content: "";
  }
  &.icon-createlink:before {
  content: "";
  }

  &.icon-blockquote:before {
  content: "";
  }
}