.dante-menu {

  // MENU
  & {
    position: absolute;
    visibility: hidden;
    z-index: 1000;
    -webkit-transition: none;
    transition: none;
    display: none;
    top: 0;
    left: 0;
    display:block;
    white-space: nowrap;

    height: $menu-height;
    background: $menu-background;
    border: $menu-border;
    border-radius: $menu-border-radius;
    box-shadow: $menu-shadow;
  }
  &--active {
    display: inline-block;
    visibility: visible;
    -webkit-animation: pop-upwards 180ms forwards linear;
    animation: pop-upwards 180ms forwards linear;
  }

  .--linkmode {
    .dante-menu-buttons {
      visibility: hidden;
    }
    .dante-menu-input {
      display: block;
      -webkit-animation: pop-upwards 180ms forwards linear;
              animation: pop-upwards 180ms forwards linear;
    }
  }

  // CARET
  &:after,
  &:before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 50%;
    pointer-events: none;
    border: $menu-caret-size solid transparent;
    margin-left: -($menu-caret-size/2);
  }
  &:after {
    border-top-color: $menu-tone;
    bottom: -(($menu-caret-size*2)-1);
  }
  &:before {
    border-top-color: $menu-border-color;
    bottom: -($menu-caret-size*2);
  }

  // BUTONS
  &-buttons {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 0;
  }
  &-button {
    & {
      min-width: 20px;
      display: inline-block;
      padding: 0 10px;
      overflow: hidden;
      text-align: center;
      color: $menu-color;
      cursor: pointer;
      font-size: 16px;
      line-height: $menu-height - 2;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    }
    &:hover{
      // nada
    }
    &.active{
      color: $menu-color-active;
    }

    &:first-of-type{
      border-top-left-radius: $menu-border-radius;
      border-bottom-left-radius: $menu-border-radius;
      padding-left: 18px;
    }
    &:last-of-type{
      border-top-right-radius: $menu-border-radius;
      border-bottom-right-radius: $menu-border-radius;
      padding-right: 18px;
    }
  }

  &-linkinput {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &-input {
    //height: $menu-height - 2;
    //line-height: 20px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    width: 100%;
    padding: 11px 40px 11px 10px;
    color: $menu-color;
    border: none;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: $menu-border-radius;
    appearance: none;
    text-align: left;
    font-family: $font-family-serif;
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
  }

}



/*
.dante-menu, .dante-input {
    color: #331;
    font: 400 1.16em/1.45 Palatino,Optima,Georgia,serif;
}

.dante-input {
  font-size: 14px;
  line-height: 1;
}
*/