@charset "utf-8";

body {
  //background: #d4d4d4 image-url("background.png");

  font-family: 'GFS Didot', serif;
}



#welcome{

}

header{
  width:100%;
  border-bottom: 3px solid #1abf89;
  img{
    display: block;
    float: left;
    margin: 8px 15px 11px 26px;
  }
  h1 {
    color: #354960;
    font-family: Georgia;
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    padding: 42px 18px 33px 9px;
    text-transform: uppercase;
  }
}


#editor{
  margin: 0 auto;
  width: 50%;
}



.postField--body:before, .postField--body:after {
    content: " ";
    display: table;
}
.postField--body:after {
    clear: both;
}
.postField--body:before, .postField--body:after {
    content: " ";
    display: table;
}
.postField, .postField:focus {
    outline: 0 none;
    word-wrap: break-word;
}
.postField--body {
    margin-bottom: 30px;
}
.postContent {
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.01rem;
    line-height: 1.5;
}



/*MENU*/

@font-face {
  font-family: 'dante';
  src: font-url('fontello.eot?370dad08');
  src: font-url('fontello.eot?370dad08#iefix') format('embedded-opentype'),
  font-url('fontello.woff?370dad08') format('woff'),
  font-url('fontello.ttf?370dad08') format('truetype'),
  font-url('fontello.svg?370dad08#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


.editor-menu {
    background: linear-gradient(to bottom, #222, #333) repeat scroll 0 0 #333;
    border: 1px solid #333;
    border-radius: 3px;
    box-shadow: 1px 2px 3px -2px #222;
    display: none;
    height: 36px;
    opacity: 0.9;
    position: fixed;
    white-space: nowrap;
    z-index: 1000;
    display:block;

    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;

    &:after {
      left: 50%;
    }
    &:after {
        border-color: #333 rgba(51, 51, 51, 0) rgba(51, 51, 51, 0);
        border-width: 6px;
        left: 50%;
        margin-left: -6px;

        border: medium solid transparent;
        content: " ";
        height: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        width: 0;
    }
}

.editor-menu, .editor-input {
    font-size: 14px;
    line-height: 1;
}

.pen, .editor-menu, .editor-input, .pen textarea {
    color: #331;
    font: 400 1.16em/1.45 Palatino,Optima,Georgia,serif;
}

.editor-menu [class^="icon-"]:before, .editor-menu [class*=" icon-"]:before {
    display: inline-block;
    font-family: "dante";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 1em;
}

.editor-icon:first-of-type {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.editor-menu [class^="icon-"], .editor-menu [class*=" icon-"] {
    background: none repeat scroll 0 0 transparent;
}

.editor-icon {
    -moz-user-select: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 900 16px/40px Georgia serif;
    height: 36px;
    min-width: 20px;
    overflow: hidden;
    padding: 0 10px;
    text-align: center;

    &.icon-h2:before {
        content: "H2";
    }
    &.icon-h3:before {
        content: "H3";
    }
    &.icon-p:before {
        content: "P";
    }
    &.icon-code:before {
        content: "";
    }
    &.icon-insertorderedlist:before {
        content: "";
    }
    &.icon-insertunorderedlist:before {
        content: "";
    }
    &.icon-inserthorizontalrule:before {
        content: "";
    }
    &.icon-indent:before {
        content: "";
    }
    &.icon-outdent:before {
        content: "";
    }
    &.icon-bold:before {
        content: "";
    }
    &.icon-italic:before {
        content: "";
    }
    &.icon-underline:before {
        content: "";
    }
    &.icon-createlink:before {
        content: "";
    }

    &.icon-blockquote:before {
        content: "";
    }
}


.notesSource {
    position: relative;

    //font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.01rem;
    line-height: 1.5;
}

/*TOOLTIP*/
.inlineTooltip2.is-active {
    opacity: 1;
    pointer-events: auto;
}
.notesSource .inlineTooltip2 {
    height: 40px;
    margin-left: -58px;
    margin-top: 5px;
    //opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    width: 40px;
    z-index: 900;
}

.button--small.button--circle {
    height: 32px;
    padding: 0;
    width: 32px;
}
.button--inlineTooltipControl {
    transform: rotate(0deg);
    transition: transform 0.1s ease 0s;
}
.button--small, .button--small.button--link, .button--small.button--chromeless {
    font-size: 12px;
}
.button--small {
    height: 32px;
    line-height: 31px;
    padding: 0 14px;
}
.button--neutral {
    border-color: rgba(0, 0, 0, 0.44);
    color: rgba(0, 0, 0, 0.44);
}
.button--circle {
    padding: 0;
    text-align: center;
    width: 38px;
}
.button {
    -moz-osx-font-smoothing: grayscale;
    -moz-user-select: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 999em;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.44);
    cursor: pointer;
    display: inline-block;
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 38px;
    letter-spacing: -0.02em;
    line-height: 31px;
    outline: 0 none;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizelegibility;
    transition: background-color 0.1s ease 0s, border-color 0.1s ease 0s, color 0.1s ease 0s;
    vertical-align: bottom;
    white-space: nowrap;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}

.button-scalableGroup .icon.icon--addMediaPlus:before, .button-scalableGroup .icon.icon--addMediaImage:before, .button-scalableGroup .icon.icon--addMediaVideo:before, .button-scalableGroup .icon.icon--addMediaEmbed:before, .button-scalableGroup .icon.icon--addMediaPart:before {
    font-size: 39px;
    top: 13px;
}
.button--neutral > .icon:before {
    color: rgba(0, 0, 0, 0.44);
}
.button .icon.is-pulledRight:before, .button--circle .icon:before, .button--expandable .icon:before {
    margin-right: 0;
}
.button .icon:before {
    color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    line-height: 0;
    margin-right: 8px;
    position: relative;
    top: 1px;
}
.icon--addMediaPlus:before {
    content: "";
}
.button--small .icon {
    font-size: 18px;
}
.button .icon {
    line-height: 100%;
}
.icon {
    -moz-osx-font-smoothing: grayscale;
    font-family: "medium-icons";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-rendering: optimizelegibility;
    text-transform: none;
}


.graf--p, .graf--blockquote, .graf--pullquote {
    margin-bottom: 30px;
}


.section-inner {
  .is-selected{
    border: 1px solid #ccc;
  }
}


// elements styles
.graf--h2 {
    //font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 1;
    margin-bottom: 8px;
    margin-left: -3px;
    margin-top: 40px;
    padding-top: 0;
}

.graf--h4 {
    color: rgba(0, 0, 0, 0.44);
    //font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 1.2;
    margin-bottom: 2px;
    margin-left: -1.5px;
    margin-top: 40px;
}

.graf--pre {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    font-family: Monaco,"Courier New","Courier",monospace;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px;
    white-space: pre-wrap;
}

.graf--blockquote + .graf--blockquote {
    margin-top: -30px;
    padding-top: 30px;
}
.graf--blockquote {
    border-left: 3px solid rgba(0, 0, 0, 0.8);
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.01rem;
    margin-left: -23px;
    padding-bottom: 3px;
    padding-left: 20px;
}
.graf--p, .graf--blockquote, .graf--pullquote {
    margin-bottom: 30px;
}

.graf--pre {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    font-family: Monaco,"Courier New","Courier",monospace;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px;
    white-space: pre-wrap;
}

