<h1>
  <a name="user-content-sanitizejs" class="anchor" href="http://sanitizejs" aria-hidden="true">iojij<span class="octicon octicon-link"></span>esto no deberia tener span y deberia ser un parrafo</a>

</h1>

<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>

<p>este parrafo deberia tener las clases graff</p>


<p>Sanitize.js heavily inspired by the Ruby Sanitize library
(<a href="http://github.com/rgrove/sanitize">http://github.com/rgrove/sanitize</a>). It tries to port it as faithful as
possible.</p>


<a name="user-content-usage" class="anchor" href="#usage" aria-hidden="true">este link deberia estar wrapeado en un p </a>


<pre><code>&lt;p id="para1"&gt;&lt;b&gt;&lt;a href="http://foo.com/"&gt;foo&lt;/a&gt;&lt;/b&gt;&lt;img src="http://foo.com/bar.jpg" /&gt;&lt;/p&gt;
</code></pre>


<h2>this element shuld be converted graf-inner</h2>
<div class="minimal-thumbnail col-12 col-sm-6 col-lg-3" id="serie_1272"><a href="http://daniel-sanchez-davey.artenlinea.com">
  <div class="image">
    <img class="img-responsive" src="https://artenlinea.s3.amazonaws.com/621/art_works/12339/resize/7392frutusventris.jpg">
  </div>
  <div class="minimal-caption">
    <div class="title">
      Extra tenebrae
    </div>
    <div class="subtitle">
      <p>grupo de pinturas de la muestra EXTRA TENEBRAE</p>
    </div>
  </div>