<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
<p>Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis.</p>
<p>Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>



<h2>this element shuld be converted graf-inner</h2>
<div class="minimal-thumbnail col-12 col-sm-6 col-lg-3" id="serie_1272"><a href="http://daniel-sanchez-davey.artenlinea.com">
  <div class="image">
    <img class="img-responsive" src="https://artenlinea.s3.amazonaws.com/621/art_works/12339/resize/7392frutusventris.jpg">
  </div>
  <div class="minimal-caption">
    <div class="title">
      Extra tenebrae
    </div>
    <div class="subtitle">
      <p>grupo de pinturas de la muestra EXTRA TENEBRAE</p>
    </div>
  </div>
</a></div>