<h2>Dante Editor</h2>
<h3>Just another Medium editor clone.</h3>
<p></p>
<h4>Motivation</h4>
<p>I´ve tried all the medium clones out there, they are really great and all have it´s pros & cons, but none of them have all the features that medium wysywig provides, so I wonder, how difficult could be build my own Medium clone?</p>
<a href="https://github.com/michelson/dante">Fork me on github</a>