<h1>
  <a name="user-content-sanitizejs" class="anchor" href="http://sanitizejs" aria-hidden="true">iojij<span class="octicon octicon-link"></span>esto no deberia tener span y deberia ser un parrafo</a>

</h1>

<p>este parrafo deberia tener las clases graff</p>


<p>Sanitize.js heavily inspired by the Ruby Sanitize library
(<a href="http://github.com/rgrove/sanitize">http://github.com/rgrove/sanitize</a>). It tries to port it as faithful as
possible.</p>


<a name="user-content-usage" class="anchor" href="#usage" aria-hidden="true">este link deberia estar wrapeado en un p </a>


<pre><code>&lt;p id="para1"&gt;&lt;b&gt;&lt;a href="http://foo.com/"&gt;foo&lt;/a&gt;&lt;/b&gt;&lt;img src="http://foo.com/bar.jpg" /&gt;&lt;/p&gt;
</code></pre>


<div class="graf--mixtapeEmbed">
  <a data-href="" href="" class="markup--anchor markup--mixtapeEmbed-anchor" data-tooltip="" title="" data-tooltip-position="bottom" link'="" href="http://artenlinea.com" u-ignoreblock'="" mixtapeimage--empty="" mixtapeimage="" js-mixtapeimage="" data-media-id="" class="" target="_blank">
    <strong class="markup--strong markup--mixtapeEmbed-strong">Artenlinea - Arte contemporáneo
    </strong>
   <em class="markup--em markup--mixtapeEmbed-em">
   Artenlinea es una red social de artistas visuales que a través de su plataforma web promueve la producción, exhibición y circulación de arte contemporáneo.
   </em>
   </a>
  http://artenlinea.com
 </div>