
<h3 class="graf graf--h3 graf--first" name="mmvdzpc52t4479fi529">Dante Editor</h3>

<h4 class="graf graf--h4" name="osd5p3nu17etutyb9">Just another Medium editor clone.</h4>

<p class="graf graf--p" name="a1ffkj6snfqkwzjv2t9"><strong>Motivation:</strong><br></p>

<blockquote class="graf graf--blockquote" name="vb1qp19ubnbx1qcnxw29">
  <p>So far we have tried all the Medium.com wysiwyg clones out there, those are really great, and each have their pros and cons. <a href="http://howtox.com/medium-editor-clones-in-js/" class="markup--anchor markup--p-anchor" data-href="http://howtox.com/medium-editor-clones-in-js/">But none of them has all the features that the real medium editor provides.</a> So we wondered, How complicated could be write our own version of Medium's wysiwyg?</p>
</blockquote>

<h3 class="graf graf--h3" name="x99z80r16pibtjoflxr">This is a live demo:</h3>
<p class="graf graf--p" name="ng6qy18yt8no76hfflxr">Please click the image or type everywere. Use it as you were using Medium. Have fun!<br></p>

<figure contenteditable="false" class="graf graf--figure is-selected" name="mg4tfk9ud8e0cnmi" tabindex="0"> <div style="max-width: 245px; max-height: 184px;" class="aspectRatioPlaceholder is-locked"> <div style="padding-bottom: 75.102%;" class="aspect-ratio-fill"></div> <img src="http://i.imgur.com/0erQFLu.gif" data-height="184" data-width="245" data-image-id="" class="graf-image" data-delayed-src=""> </div> <figcaption contenteditable="true" data-default-value="Type caption for image (optional)" class="imageCaption">this is a text</figcaption> </figure><p class="graf graf--p" name="xyif2a1piq5ffb9be29">
This Library will <em>work</em> fine on modern browsers, such as Chrome, Safari, FF and IE.
We don't have any intentions to target all browsers versions. Really… If you like this library and you need backward compatibility for an specific version, you can submit a patch to help with the development or just upgrade your shitty browser :D<br></p>

<pre class="graf graf--pre" name="l44ayschy478wa5rk9">Dante is being at active development, so the internal api could change a lot but is good to use.
</pre>

<p class="graf graf--p" name="v1qyjusgoj13y8sq0k9">(This library is free and will stay free, but needs your support to sustain its development. There are lots of desirable new features and maintenance to do. If you work for a company using Dante or have the means to do so, please consider financial support)<br></p>

<p class="graf graf--p" name="uuajflrkzboaxyxh6w29"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=QVH5DXB326YQG" class="markup--anchor markup--p-anchor" data-href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=QVH5DXB326YQG">Donate at paypal.</a><br></p>

<h4 class="graf graf--h4" name="kseec8atv22n4b1emi">MAINTAINERS:</h4>

<ul class="postList" name="r9iluzwo1lb2617nwmi">
  <li class="graf graf--li"><a data-id="1" data-type="user" data-href="api/miguel.json" class="markup--user markup--p-user"> Miguel Michelson </a></li>
  <li class="graf graf--li"><a data-id="1" data-type="user" data-href="api/cristian.json" class="markup--user markup--p-user"> Cristian Ferrari </a></li>
</ul>

<p class="graf graf--p graf--last" name="saehi6q7u2jc2ph0vn29"><a class="markup--anchor markup--p-anchor">Licensed under MIT.</a> 2014<br></p>


