.markup--anchor {
  text-decoration: underline;
  color: inherit;
}

// All the follow classes init with .tier-1
.markup--anchor {
  text-decoration: none;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 24px;
}

.markup--h2-anchor {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-repeat: repeat-x;
  background-size: 2px 3px;
  background-position: 0 65px;
}

.markup--h3-anchor {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 39px;
}

.markup--h4-anchor {
  background-position: 0 33px;
}

.markup--pullquote-anchor {
  background-position: 0 33px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
  background-repeat: repeat-x;
}

.markup--figure-anchor {
  background-image: -webkit-linear-gradient(top, #fff 50%, #b3b3b1 50%);
  background-image: linear-gradient(to bottom, #fff 50%, #b3b3b1 50%);
  background-repeat: repeat-x;
  background-position: 0 15px;
}

@media only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx), only screen and (-webkit-min-device-pixel-ratio: 2) {
  .markup--figure-anchor {
    background-image: -webkit-linear-gradient(top, #fff 75%, #b3b3b1 75%);
    background-image: linear-gradient(to bottom, #fff 75%, #b3b3b1 75%);
    background-repeat: repeat-x;
  }
  .markup--anchor {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 75%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 75%);
    background-repeat: repeat-x;
  }
  .markup--h2-anchor,
  .markup--h3-anchor {
    background-image: -webkit-linear-gradient(top, #333332, #333332);
    background-image: linear-gradient(to bottom, #333332, #333332);
    background-repeat: repeat-x;
  }
}

@media (max-width: 1000px) {
  .markup--pullquote-anchor {
    background-position: 0 25px;
  }
}

@media (max-width: 500px) {
  .markup--anchor {
    background-position: 0 22px;
  }
  .markup--h2-anchor {
    background-size: 2px 2px;
    background-position: 0 39px;
  }
  .markup--h3-anchor {
    background-size: 2px 2px;
    background-position: 0 29px;
  }
  .markup--h4-anchor {
    background-position: 0 28px;
  }
  .markup--pullquote-anchor {
    background-position: 0 25px;
  }
  .markup--figure-anchor {
    background-position: 0 15px;
  }
}
