a[rel=token], .markup--query {
    color: #00ab6b;
    text-decoration: none;
    background-image: none!important;
}

.popover.is-active {
    visibility: visible;
}
.typeahead--mention {
    padding-top: 10px;
}
.typeahead .popover-inner {
    padding: 0;
    overflow: hidden;
    min-width: 100px;
}
.popover-inner {
    position: relative;
    padding: 14px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.35);
    ul{
      padding-left: 0px;
    }
}

.popover.popover--maxWidth360 .popover-inner {
    max-width: 360px;
}

.popover:not(.popover--flexible) .popover-inner {
    max-width: 280px;
}
.typeahead .popover-inner {
    padding: 0;
    overflow: hidden;
    min-width: 100px;
}

.typeahead .typeahead-item:first-child {
    padding-top: 7px;
}

.typeahead--mention .typeahead-item {
    padding: 6px 15px;
    font-size: 13px;
}

.typeahead-item.is-active, .typeahead-item:hover  {
    background: #02b875;
    color: #fff;
}
.typeahead .typeahead-item {
    cursor: pointer;
    padding: 5px 10px;
    line-height: 2;
    font-size: 12px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.typeahead .avatar {
    float: left;
    margin: 0 6px 0 -2px;
}

.avatar-image--icon {
    width: 32px;
    height: 32px;
}
.avatar-image {
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
}

.typeahead--mention .popover-arrow {
    display: none;
}