.imageCaption {
  & {
    position: absolute;
    left: -172px;
    width: 150px;
    top: 0;
    text-align: right;
    margin-top: 0;
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    line-height: 1.4;
    color: rgba(0,0,0,0.6);
    outline: 0;
    z-index: 300;
  }
  &:before {
    width: 25%;
    margin-left: 75%;
    border-top: 1px solid rgba(0,0,0,0.15);
    display: block;
    content: "";
    margin-bottom: 10px;
  }
}
@media (max-width: 1200px) {
  .imageCaption,
  .postField--outsetCenterImage > .imageCaption {
    position: relative;
    width: 100%;
    text-align: center;
    left: 0;
    margin-top: 10px;
  }
  .imageCaption:before {
    display: none;
  }
}

figure.is-defaultValue .imageCaption,
.graf--sectionCaption.is-defaultValue {
  display: none;
}

.graf--figure.is-mediaFocused .imageCaption,
.graf--figure.is-defaultValue.is-selected .imageCaption,
section.is-mediaFocused .graf--sectionCaption,
.graf--sectionCaption.is-defaultValue.is-selected {
  display: block;
}
