.dante-icon {
  &:before {
    display: inline-block;
    font-family: "dante";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
  }
}

.icon {
  &-h1:before                   { content: "H1"; }
  &-h2:before                   { content: "H2"; }
  &-h3:before                   { content: "H3"; }
  &-p:before                    { content:  "P"; }
  &-code:before                 { content: ""; }
  &-insertorderedlist:before    { content: ""; }
  &-insertunorderedlist:before  { content: ""; }
  &-inserthorizontalrule:before { content: ""; }
  &-indent:before               { content: ""; }
  &-outdent:before              { content: ""; }
  &-bold:before                 { content: ""; }
  &-italic:before               { content: ""; }
  &-underline:before            { content: ""; }
  &-createlink:before           { content: ""; }
  &-blockquote:before           { content: ""; }
}
