.dante-icon {
  &:before {
    display: inline-block;
    font-family: "dante";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
  }
}

.icon-h2:before                   { content: "H1"; }
.icon-h3:before                   { content: "H2"; }
.icon-h4:before                   { content: "H3"; }
.icon-p:before                    { content:  "P"; }
.icon-code:before                 { content: ""; }
.icon-insertorderedlist:before    { content: ""; }
.icon-insertunorderedlist:before  { content: ""; }
.icon-inserthorizontalrule:before { content: ""; }
.icon-indent:before               { content: ""; }
.icon-outdent:before              { content: ""; }
.icon-bold:before                 { content: ""; }
.icon-italic:before               { content: ""; }
.icon-underline:before            { content: ""; }
.icon-createlink:before           { content: ""; }
.icon-blockquote:before           { content: ""; }

.icon-h2:before,
.icon-h3:before,
.icon-h4:before {
  font-weight: bold;
}


.tooltip-icon {
  &:before {
    font-family: 'dante-tooltip';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    // Better Font Rendering
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon-video:before { content: "\e600"; }
.icon-image:before { content: "\e601"; }
.icon-plus:before  { content: "\e602"; }
.icon-embed:before { content: "\e603"; }
