.popover {
  overflow:hidden;
  position:absolute;
  z-index:900;
  visibility:visible;
  font-size:12px;
  text-align:center;
  opacity:0;
  pointer-events:auto;
  padding:15px;
}

.popover.is-withTransition {
  -webkit-transition:opacity 100ms ease;
  transition:opacity 100ms ease;
}

.is-resizing .popover {
  opacity:0;
  -webkit-transition:opacity 0 ease;
  transition:opacity 0 ease;
}

.popover-inner {
  position:relative;
  max-width:280px;
  background:#fff;
  border-radius:4px;
  box-shadow:0 1px 1px rgba(0,0,0,0.25),0 0 1px rgba(0,0,0,0.35);
  padding:14px;
}

.popover-inner .textInput {
  width:250px;
}

.browser-safari .popover-inner {
  box-shadow:0 1px 1px 1px rgba(0,0,0,0.05),0 0 1px 1px rgba(0,0,0,0.15);
}

.popover--dark>.popover-inner {
  color:#fff;
  background:#262625;
  border:1px solid;
  box-shadow:0 1px 3px -1px rgba(0,0,0,0.8);
  background-image:linear-gradient(tobottom,rgba(49,49,47,0.97), #262625);
  background-repeat:repeat-x;
  border-color:#262625 #1c1c1b #121211;
}

.popover--dark>.popover-arrow:after {
  background:#262625;
  border:1px solid #121211;
}

.popover--menu>.popover-inner {
  overflow:auto;
  padding:8px 0;
}

.popover--translations>.popover-inner {
  min-width:200px;
}

.popover--followButton {
  font-size:14px;
  color:rgba(0,0,0,0.6);
}

.popover--notesVote>.popover-inner {
  text-align:left;
  width:270px;
}

.popover--notifications>.popover-inner {
  width:400px;
}

.popover--top .popover-arrow,.popover--bottom .popover-arrow {
  left:50%;
  margin-left:-7px;
}

.popover--left .popover-arrow,.popover--right .popover-arrow {
  top:50%;
  margin-top:-7px;
}

.popover--top .popover-arrow {
  bottom:1px;
  clip:rect(018px,18px,4px);
}

.popover--right .popover-arrow {
  left:1px;
  clip:rect(-4px,14px,18px,0);
}

.popover--bottom .popover-arrow {
  top:1px;
  clip:rect(018px,14px,4px);
}

.popover--left .popover-arrow {
  right:1px;
  clip:rect(-4px,14px,18px,0);
}

.popover-arrow:after {
  content:'';
  display:block;
  width:14px;
  height:14px;
  background:#fff;
}

.popover--top .popover-arrow:after {
  -webkit-transform:rotate(45deg) translate(-5px,-5px);
  -ms-transform:rotate(45deg) translate(-5px,-5px);
  transform:rotate(45deg) translate(-5px,-5px);
  box-shadow:1px 1px 1px -1px rgba(0,0,0,0.8);
}

.popover--right .popover-arrow:after {
  -webkit-transform:rotate(45deg) translate(6px,-6px);
  -ms-transform:rotate(45deg) translate(6px,-6px);
  transform:rotate(45deg) translate(6px,-6px);
  box-shadow:-1px 1px 1px -1px rgba(0,0,0,0.8);
}

.popover--bottom .popover-arrow:after {
  -webkit-transform:rotate(45deg) translate(6px,6px);
  -ms-transform:rotate(45deg) translate(6px,6px);
  transform:rotate(45deg) translate(6px,6px);
  box-shadow:-1px -1px 1px -1px rgba(0,0,0,0.44);
}

.popover--left .popover-arrow:after {
  -webkit-transform:rotate(45deg) translate(-6px,6px);
  -ms-transform:rotate(45deg) translate(-6px,6px);
  transform:rotate(45deg) translate(-6px,6px);
  box-shadow:1px -1px 1px -1px rgba(0,0,0,0.8);
}

.popover-title {
  margin-top:10px;
  margin-left:18px;
}

.popover-description {
  color:rgba(0,0,0,0.44);
  font-size:14px;
  line-height:1.3;
  font-family:jaf-bernino-sans,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing:-.02em;
  font-weight:400;
  font-style:normal;
}

.popover-prompt {
  font-size:16px;
  width:160px;
  margin:10px 0 15px;
  padding:0 5px;
}

.popover-dock {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background-color:#fff;
  border-top:1px solid rgba(0,0,0,0.15);
  border-radius:0 0 4px 4px;
  padding:10px 0 10px 10px;
}

.popover--collectionPanel>.popover-inner {
  text-align:left;
  width:260px;
}

.popover--collectionPanel .popover-title {
  margin-bottom:10px;
  white-space:nowrap;
}

.popover--collectionPanel .popover-description {
  margin:10px 10px 10px 20px;
}

.popover--collectionPanel .list--withImage+.popover-title:before {
  content:'';
  display:block;
  width:auto;
  border-top:1px solid rgba(0,0,0,0.15);
  margin:20px 0;
}

.popover--collectionPanel .inputGroup {
  min-width:230px;
  max-height:80vh;
  overflow:auto;
  padding-left:20px;
  padding-bottom:50px;
  margin:0;
}

.popover--collectionPanel .label--radio:first-child {
  margin:15px 0 10px;
}

.popover--collectionPanel .radioDescription {
  width:200px;
}

.popover--share .popover-title {
  color:rgba(0,0,0,0.8);
  border-bottom:1px solid rgba(0,0,0,0.15);
  font-size:14px;
  box-sizing:border-box;
  font-family:jaf-bernino-sans,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing:-.02em;
  font-weight:700;
  font-style:normal;
  margin:0 15px 5px;
  padding:5px 0 10px;
}

.popover--share .icon--facebook {
  margin-right:12px;
}

.popover--help>.popover-inner {
  line-height:2;
  padding:5px;
}

.popover--text>.popover-inner {
  max-width:300px;
  padding:15px;
}

.popover--withTextInput .textInput {
  text-align:center;
  margin:10px 0;
}

.popover--listChoice>.popover-inner {
  max-width:350px;
  overflow-y:auto;
  padding:0;
}

.popover--listingEditor .popover-inner {
  max-width:320px;
}

.popover--listingEditor .inputGroup-description {
  position:relative;
  margin-left:28px;
  margin-bottom:15px;
  font-size:12px;
  color:#666665;
}

.popover--listingEditor .icon--unlisted:before {
  position:relative;
  top:5px;
  margin-right:2px;
}
