.postArticle {
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.postWrapper,
.postWrapper-inner {
  position: relative;
  @include clearfix;
}

.postWrapper {
  overflow: hidden;

  .is-postEditMode &            { display: none; }
  .is-postEditModeInitialized & { display: block; }
}

.postContent {
  font-family: $font-family-serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  //font-size: 22px;
  //line-height: 1.5;
  font-size: 19px;
  line-height: 1.69;
}

.postField {
  &, &:focus {
    outline: 0;
    word-break: break-word;
    word-wrap: break-word;
  }
}

.postField--body {
  @include clearfix;
  margin-bottom: 30px;
}

.section--last {
  padding-bottom: 5px;
}

.section-content {
  @include clearfix;
}

.section-inner {
  position: relative;
}
