$font-family-sans:              'jaf-bernino-sans', 'Open Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$font-family-serif:             'freight-text-pro', 'Merriweather', Georgia,Cambria, "Times New Roman", Times,serif;
$font-family-mono:              Menlo, Monaco, Consolas, "Courier New", "Courier", monospace;

$font-family-base:              $font-family-sans;
$font-size-base:                14px;
$line-height-base:              1.428571429; // 20/14

$active-color:                  #5BD974;

$menu-tone:                     #333;
$menu-factor:                   5%;
$menu-background:               linear-gradient(to bottom, darken($menu-tone,$menu-factor), $menu-tone) repeat scroll 0 0 $menu-tone;
$menu-shadow:                   1px 2px 3px -2px #222;
$menu-border-width:             1px;
$menu-border-color:             darken($menu-tone,$menu-factor);
$menu-border-radius:            5px;
$menu-border:                   $menu-border-width solid $menu-border-color;
$menu-color:                    #FFFFFF;
$menu-color-active:             $active-color;
$menu-caret-size:               8px;

$menu-height:                   45px;
$menu-button-height:            $menu-height - ($menu-border-width * 2);

$tooltip-color:                 black;
$tooltip-color-opacity:         0.44;
$tooltip-color-opacity-hover:   0.9;
$tooltip-background-opacity:    0;
$tooltip-border-width:          1px;
$tooltip-border-radius:         999em;

$tooltip-button-spacing:        9px;
$tooltip-menu-spacing:          22px;

$tooltip-items:                 3;
$tooltip-size:                  32px;
$tooltip-line-height:           $tooltip-size;

// Add 1px on expanded tooltip to avoid colapsed buttons in FF
$tooltip-size-expanded:         1 + ($tooltip-size + $tooltip-menu-spacing) + (($tooltip-size + $tooltip-button-spacing) * $tooltip-items);
$tooltip-default-transition:    100ms border-color, 100ms color;
$tooltip-forward-transition:    transform 100ms;
$tooltip-backward-transition:   transform 250ms;

$debugger:                      true;
