---
title: Dante Editor EMBEDS example
---

<article>
  <div class="postContent">
    <div class="notesSource">

      <div id="editor" class="postField postField--body editable smart-media-plugin">
        <%= partial "partials/content" %>
        <%= partial "partials/example_1" %>
        <%= partial "partials/example_2" %>
      </div>

    </div>
  </div>
</article>

<script type="text/javascript">
  editor = new Dante.Editor(
    {
      api_key: "86c28a410a104c8bb58848733c82f840",
      el: "#editor",
      upload_url: "/uploads/new.json",
      debug: true
    }
  ).start()
</script>
