---
title: Ezra Editor example
---

<div class="welcome">

  <h1 class="main-title">Ezra Editor example</h1>

  <div id="editor" class="postField postField--body editable smart-media-plugin">

  </div>

</div>


<script>
  editor = new Editor.MainEditor({}) ;
  editor.render()
</script>
