---
title: Dante Editor example
---

<div class="welcome">
  <header>
    <img src="/images/icon-logo.png" alt="dante logo" width="130" >
    <h1 class="main-title">Dante Wysiwyg</h1>
  </header>


  <div id="editor" class="postField postField--body editable smart-media-plugin">

  </div>

</div>


<script>
  editor = new Editor.MainEditor({}) ;
  editor.render()
</script>
