---
title: Editor example
---

<div class="welcome">

  <h1>Editor!</h1>
  <div id="editor" class="postField postField--body editable smart-media-plugin">

  </div>

</div><!-- .welcome -->

<div class="indicators" style="">
  <div class="offset-indicator"></div>
  <div class="position-indicator"></div>
</div>


<script>
  editor = new Editor.MainEditor({}) ;
  editor.render()
</script>
