---
title: Dante Editor example
---


<article>
  <div id="editor">
    <%= partial "partials/readme" %>
  </div>
</article>

<script type="text/javascript">
  editor = new Dante.Editor(
    {
      el: "#editor",
      upload_url: "/uploads/new.json"
    }
  ).start()
</script>