---
title: Dante Editor example
---

<div class="welcome">
  <header>
    <img src="assets/images/icon-logo.png" alt="dante logo" width="90" >
    <h1 class="main-title">Dante Wysiwyg</h1>
  </header>

  <article>
    <div class="postContent">
      <div class="notesSource">

        <div id="editor" class="postField postField--body editable smart-media-plugin">
          <% partial "partials/example_1" %>
          <% partial "partials/example_2" %>
        </div>

      </div>
    </div>
  </article>

</div>


<script type="text/javascript">
  editor = new Dante.Editor(
    {
      el: "#editor",
      upload_url: "/uploads/new.json",
      debug: true
    }
  ).start()
</script>
