---
title: Dante Editor example
---

<div id="editor">
  <%= partial "partials/readme" %>
</div>

<script type="text/javascript">
  editor = new Dante.Editor(
    {
      el: "#editor",
      upload_url: "/uploads/new.json",
      upload_callback: function(data){
        console.log("Hey!");
        return data;
      },
      debug: <%= build? ? false : true %>
    }
  )
  editor.start()
</script>