.graf--h2,
.graf--h3,
.graf--h4,
.graf--h5,
.graf--h6,
.graf--h7,
.postList,
.graf--hr,
.graf--figure,
.graf--blockquote,
.graf--pullquote,
.graf--p,
.graf--pre {
  margin: 0;
  //position:relative;
}

.graf--code {
  background: transparent;
  position:relative;
  overflow: visible;
  .dante-code-syntax{
    position: absolute;
    top: -17px;
    right: -18px;
    width: 165px;
  }
}

.postList {
  margin-bottom: 30px;
}

.graf--p,
.graf--blockquote,
.graf--pullquote {
  margin-bottom: 30px;
}

.graf--code {
  line-height: 1em;
}

.graf--p.dante--spinner{
  position:relative;
}

.graf--hr {
  hr{
    border: 1px solid #ccc;
    margin: 26px;
  }
}

.graf--h2 {
  font-family: $dante-font-family-sans;
  font-size: 3.6em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1;
  margin-bottom: .4em;
  margin-left: -3px;
  margin-top: 40px;
  padding-top: 0;
}
.graf--h3 {
  font-family: $dante-font-family-sans;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 2.1em;
  margin-left: -1.8px;
  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: .7em;
}
.public-DraftStyleDefault-pre{
  overflow: inherit;
}
.graf--h4 {
  font-family: $dante-font-family-sans;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
  margin-left: -1.5px;
  line-height: 1.2;
  color: rgba(0,0,0,0.44);
  margin-top: 40px;
  margin-bottom: .6em;
}

.section--first .graf--h2.graf--first,
.section--first .graf--h3.graf--first,
.section--first .graf--h4.graf--first {
  margin-top: 0;
  padding-top: 0;
}

.graf--h2 + .graf--h2 {
  margin-top: -8px;
}

.graf--h2 + .graf--h3,
.graf--h2 + .graf--h4 {
  margin-top: -6px;
}

.graf--h3 + .graf--h2,
.graf--h4 + .graf--h2 {
  margin-top: 2px;
}

.graf--h3 + .graf--h4,
.graf--h4 + .graf--h3 {
  margin-top: -2px;
}

.graf--h2 + .postList,
.graf--h3 + .postList,
.graf--h4 + .postList {
  margin-top: 10px;
}

.graf--h2 + .graf--p.graf--empty,
.graf--h3 + .graf--p.graf--empty,
.graf--h4 + .graf--p.graf--empty {
  margin-bottom: -7px;
  margin-top: -7px;
}

.graf--h2 + .graf--p.graf--empty + .graf--h2,
.graf--h3 + .graf--p.graf--empty + .graf--h2,
.graf--h4 + .graf--p.graf--empty + .graf--h2 {
  margin-top: -5px;
}

.graf--h2 + .graf--p.graf--empty + .graf--h3,
.graf--h3 + .graf--p.graf--empty + .graf--h3,
.graf--h4 + .graf--p.graf--empty + .graf--h3,
.graf--h2 + .graf--p.graf--empty + .graf--h4,
.graf--h3 + .graf--p.graf--empty + .graf--h4,
.graf--h4 + .graf--p.graf--empty + .graf--h4 {
  margin-top: -8px;
}


.graf--blockquote, blockquote {
  font-family: $dante-font-family-serif;
  border-left: 3px solid rgba(0, 0, 0, .8);
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.16px;
  letter-spacing: 0.01rem;
  margin-left: -12px;
  padding-left: 27px;
  margin-bottom: 25px;
  font-size: 1.2em;
  line-height: 1.9em;
  margin-top: 20px;
}
.graf--blockquote + .graf--blockquote {
  margin-top: -30px;
  padding-top: 30px;
}

.graf--pullquote {
  line-height: 1.4;
  text-align: center;
  font-size: 3.2em;
  margin: 48px -160px;
  border: none;
  padding: 0;
  font-family: $dante-font-family-serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: italic;
  -webkit-transition: margin 100ms;
  transition: margin 100ms;
}

.graf--pre, .public-DraftStyleDefault-pre {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
  font-family: $dante-font-family-mono;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 20px;
  white-space: pre-wrap;
}
.graf--pre + .graf--pre {
  margin-top: -20px;
}

.graf--figure {
  & {
    box-sizing: border-box;
    clear: both;
    margin-bottom: 30px;
    outline: medium none;
    position: relative;
  }
  &.is-mediaFocused .graf-image,
  &.is-mediaFocused iframe {
    box-shadow: 0 0 0 3px #57ad68;
  }
}

.graf--mixtapeEmbed {
  a {
    text-decoration: none;
  }
}

.graf--h4 + .graf--figure,
.graf--h3 + .graf--figure,
.graf--h2 + .graf--figure {
  margin-top: 15px;
}

.graf--first {
  margin-top: 0;
  padding-top: 0;
}

/*.graf--empty {
  margin-bottom: -7px;
  margin-top: -7px;
}*/

p[data-align="center"],
.graf--h2[data-align="center"],
.graf--h3[data-align="center"],
.graf--h4[data-align="center"],
.graf--blockquote[data-align="center"] {
  text-align: center;
}

.markup--anchor,
.graf--sectionCaption {
    cursor: text;
}
.markup--anchor {
  text-decoration: underline;
  color: inherit;
}

@media (max-width: 500px) {

  .graf--h2 {
    font-size: 2.6em;
  }
  .graf--h3 {
    font-size: 1.6em;
  }
  .graf--h4 {
    font-size: 1.4em;
  }

}
